img {
}


#img-1 {
    position: fixed;
    height: 300px;
    width: 400px;
    transform: rotate(-9deg);
    padding: 100px;
    left: 50px;
    z-index: 10; 


}

#img-2 {
    position: fixed;
    height: 300px;
    width: 400px;
    transform: rotate(10deg);
    padding: 100px;
    right: 50px;
    z-index: 10; 
}



#img-4 {
    position:fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    object-fit: cover;

    opacity: 0.5;
    z-index: 0;
}

#img-5 {
    position: absolute;
    height: 500px;
    width: 600px;
    margin-left: auto;
    z-index: 1; 
    opacity: 0.6;
}

#img-6 {
    position: fixed;
    height: 300px;
    width: 400px;
    top: 400px;
    transform: rotate(-2deg);
    padding: 100px;
    left: 600px;
    z-index: 10; 
}

.image-wrapper {
    position: relative;   /* anchor */
    width: 500px;         /* match background size */
  }
  
  .bg {
    width: 100%;
    display: block;
  }
  
  .fg {
    position: absolute;   
    top: 40px;
    left: 60px;
    width: 150px;
    transform: rotate(-5deg);
  }

